/* POLICES */
@font-face {
	font-family: 'Poppins-Bold';
	src: url('../fonts/Poppins-Bold.ttf');
}

@font-face {
	font-family: 'Poppins-Light';
	src: url('../fonts/Poppins-Light.ttf');
}

@font-face {
	font-family: 'Poppins-SemiBold';
	src: url('../fonts/Poppins-SemiBold.ttf');
}
/*--------------ACCUEIL-------------*/
.accueil2{
	/*padding-top:290px;
	padding-bottom:45px;*/
	margin: 0;
	padding: 0;
	height: calc(93vh);
	position: relative;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}
.topcontenu{
	margin-bottom: 60px !important;
}


.video-accueil{
	position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: -1;
   pointer-events: none;
   overflow: hidden;
}

.video-accueil video{
	margin: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	width: 100vw;
	height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
	min-height: 100vh;
	min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
}


#agence{
	font-family: 'Poppins-Bold';
	font-size:40px;
	line-height:45px;
	text-align:left;
	
	width:100%;
	


}
#text{
	font-family: 'Poppins-Light';
	font-size:18px;
	text-align:left;
	line-height:20px;
	
	width: 50%;	
	margin-top:15px;
	
	display:block;
	
}
.button-margin{
	margin-top: 25px !important;
	margin-bottom: 2rem;
}
.topcontenu{
	margin-bottom: 20px;
}

@media (min-width : 601px) and (max-width : 1000px) {
	#agence{		
		font-size:22px;
		line-height:27px;
		text-align:left;
		width:90%;	

	}
	#text{
		
		font-size:17px;
		width:70%;
		line-height:19px;	
		margin-top:10px;
		
	}
	.button-margin{
		margin-top:10px !important;
		margin-bottom: 1rem;
	}

	.topcontenu{
		margin-bottom: 25px;
	}
}

@media screen and (max-width :600px) {
	#agence{		
		font-size:22px;
		line-height:27px;
		text-align:left;
		width:90%;
		margin: auto;	

	}
	#text{
		
		font-size:17px;
		width:90%;
		line-height:19px;	
		margin-top:15px !important;
		margin: auto;
		
	}
	.button-margin{
		margin-top:10px !important;
		margin-bottom: 3rem;
	}

	.topcontenu{
		margin-bottom: 25px;
	}
	
}
#button_devis{
	width:155px;
	height:54px;
	border-radius:16px;
	background: transparent linear-gradient(225deg, #8743FF 0%, #4136F1 100%) 0% 0% no-repeat padding-box !important;
	box-shadow:0px 15px 30px #1466CC29;
	font-family:'Poppins-Light';
    line-height:14px;
    font-size:13px;
    transition:0.6s;
	
}
#button_devis:hover{
	transition:0.6s;
	box-shadow: 14px 14px 28px 28px rgba(0.22,0.22,0.22,0.22), 10px 10px 10px 10px rgba(0.22,0.22,0.22,0.22);
	
     transform: scale(1.10, 1.10);
}


/* LOADER */
/* .loader{
	background-color: rgba(36,36,36,255);
	cursor: wait;
	height: 100vh;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;
}



.loader img{	
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	height: 150px;
	width: 150px;
} */

.loader-wrapper {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: black;
	display:flex;
	justify-content: center;
	align-items: center;
	z-index: 999;
	
  }
  
  .loader {
	display: inline-block;
	position: relative;
	animation: loader 2s infinite ease;
  }

  .loader-inner {
	width: 150px;
	height: 150px;
	animation: loader-inner 2s infinite ease-in;
  }

  @keyframes loader {
	0% { transform: rotate(0deg);}
	25% { transform: rotate(180deg);}
	50% { transform: rotate(180deg);}
	75% { transform: rotate(360deg);}
	100% { transform: rotate(360deg);}
  }
  @keyframes loader-inner {
	0% { height: 0%;}
	25% { height: 0%;}
	50% { height: 100%;}
	75% { height: 100%;}
	100% { height: 0%;}
  }

	